# Data Overview
This notebook provides a visual overview of the different data inputs to the visualization

In [1]:
import pandas as pd

## Raw Data
Raw data downloaded from https://github.com/dfiorino/audl-pull/tree/master/output

In [2]:
df_raw = pd.read_csv('../data/raw/AUDL2018_ChicagoWildfire.csv')
df_raw.head()

,Unnamed: 0,Date/Time,Opponent,Point Elapsed Seconds,Line,Our Score - End of Point,Their Score - End of Point,Event Type,Action,Passer,...,Absolute Distance,Lateral Distance,Toward Our Goal Distance,Teamname,Tournament,Lineup,GameID,QuarterID,PointID,PossessionID
0,0,2018-04-14 17:11,Pittsburgh Thunderbirds,53,O,1,0,Offense,Catch,Nicky Golini,...,NaN,NaN,NaN,Chicago Wildfire,AUDL 2018,"Dan Miller, Simon Johansen, Pawel Janas, Micha...",1,1,1,1.0
1,1,2018-04-14 17:11,Pittsburgh Thunderbirds,53,O,1,0,Offense,Catch,Pawel Janas,...,NaN,NaN,NaN,Chicago Wildfire,AUDL 2018,"Dan Miller, Simon Johansen, Pawel Janas, Micha...",1,1,1,1.0
2,2,2018-04-14 17:11,Pittsburgh Thunderbirds,53,O,1,0,Offense,Catch,Simon Johansen,...,NaN,NaN,NaN,Chicago Wildfire,AUDL 2018,"Dan Miller, Simon Johansen, Pawel Janas, Micha...",1,1,1,1.0
3,3,2018-04-14 17:11,Pittsburgh Thunderbirds,53,O,1,0,Offense,Catch,Pawel Janas,...,NaN,NaN,NaN,Chicago Wildfire,AUDL 2018,"Dan Miller, Simon Johansen, Pawel Janas, Micha...",1,1,1,1.0
4,4,2018-04-14 17:11,Pittsburgh Thunderbirds,53,O,1,0,Offense,Catch,Simon Johansen,...,NaN,NaN,NaN,Chicago Wildfire,AUDL 2018,"Dan Miller, Simon Johansen, Pawel Janas, Micha...",1,1,1,1.0

## Processed data
This [script](https://github.com/zwrankin/audl-viz/blob/master/src/data/process_team_indicators.py) aggregates the raw data and saves processed csvs to https://github.com/zwrankin/audl-viz/tree/master/data/processed.

In [3]:
df_player = pd.read_csv('../data/processed/player_indicators.csv')
df_player.head()

,year,team,opponent,date,game,player,Completions,Assists,Throwaways,Receptions,Goals,Drops,Ds,Turnovers,Plus_Minus
0,2014,Chicago Wildfire,Cincinnati Revolution,2014-04-18,Chicago Wildfire_Cincinnati Revolution_2014-04-18,AJ Nelson,22.0,3.0,2.0,24.0,11.0,1.0,2.0,3.0,13.0
1,2014,Chicago Wildfire,Cincinnati Revolution,2014-04-18,Chicago Wildfire_Cincinnati Revolution_2014-04-18,Alex Drlica-Wagner,6.0,0.0,1.0,7.0,0.0,0.0,0.0,1.0,-1.0
2,2014,Chicago Wildfire,Cincinnati Revolution,2014-04-18,Chicago Wildfire_Cincinnati Revolution_2014-04-18,Andy Nielsen,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,2014,Chicago Wildfire,Cincinnati Revolution,2014-04-18,Chicago Wildfire_Cincinnati Revolution_2014-04-18,Bob Liu,37.0,2.0,1.0,32.0,0.0,1.0,0.0,2.0,0.0
4,2014,Chicago Wildfire,Cincinnati Revolution,2014-04-18,Chicago Wildfire_Cincinnati Revolution_2014-04-18,Brett Kolinek,11.0,0.0,0.0,7.0,1.0,0.0,1.0,0.0,2.0

In [4]:
df_team = pd.read_csv('../data/processed/team_indicators.csv')
df_team.head()

,year,team,opponent,date,game,Goals,Catches,Ds,Turnovers,Drops,Throwaways,Goals_against,Hold_pct,Break_pct
0,2014,Cincinnati Revolution,Chicago Wildfire,2014-04-18,Cincinnati Revolution_Chicago Wildfire_2014-04-18,23,254.0,11.0,28.0,6.0,22.0,22,0.857143,0.208333
1,2014,Cincinnati Revolution,Chicago Wildfire,2014-04-26,Cincinnati Revolution_Chicago Wildfire_2014-04-26,12,1.0,4.0,74.0,20.0,54.0,26,0.360000,0.230769
2,2014,Cincinnati Revolution,Chicago Wildfire,2014-06-28,Cincinnati Revolution_Chicago Wildfire_2014-06-28,11,40.0,14.0,55.0,7.0,48.0,21,0.500000,0.083333
3,2014,Cincinnati Revolution,Detroit Mechanix,2014-05-02,Cincinnati Revolution_Detroit Mechanix_2014-05-02,25,160.0,18.0,40.0,3.0,37.0,13,0.733333,0.608696
4,2014,Cincinnati Revolution,Detroit Mechanix,2014-05-10,Cincinnati Revolution_Detroit Mechanix_2014-05-10,20,171.0,21.0,51.0,5.0,46.0,15,0.764706,0.388889

In [5]:
df_wins = pd.read_csv('../data/processed/team_indicators_EOY.csv')
df_wins.head()

,year,team,Goals,Catches,Ds,Turnovers,Drops,Throwaways,Goals_against,Hold_pct,Break_pct,Win_pct
0,2014,Cincinnati Revolution,257,2547.0,157.0,592.0,86.0,506.0,331,0.590769,0.247148,0.285714
1,2014,DC Breeze,346,3438.0,177.0,560.0,63.0,497.0,344,0.646377,0.356522,0.666667
2,2014,Detroit Mechanix,217,2947.0,176.0,711.0,111.0,600.0,380,0.481183,0.168889,0.000000
3,2014,Indianapolis AlleyCats,310,3236.0,189.0,578.0,85.0,493.0,311,0.701299,0.300319,0.533333
4,2014,Madison Radicals,379,3633.0,294.0,523.0,62.0,461.0,249,0.800000,0.473545,0.812500